html {
    font-size: 16px;
}

main {
    background: rgba(255, 245, 191, 1);
    width: 1600px;
    padding-top: 3.25rem;
    /*font-family: 'Poppins', sans-serif;*/
    font-weight: 500;
}

.fw9 {
    font-weight: 900;
}

a {
    margin-left: 3.875rem;
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: 400;
}

.young {
    color: #FDD200;
    font-size: 8.125rem;
    font-weight: 700;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

section.young {
    margin-left: 11.125rem;
    margin-top: 5.375rem;
}

.Yfavourite {
    width: 68.06rem;
    padding-top: 3.78rem;
    padding-left: 3.588rem;
    margin-left: 4rem;
    z-index: 1;
}

.girls {
    margin-top: 4.13rem;
    margin-bottom: 14.187rem;
}

div.girls {
    width: 29.5rem;
    height: 20.344rem;
}

h3 {
    font-size: 1.132rem;
}

p {
    font-size: 0.875rem;
    color: rgba(127, 127, 127, 1);
    letter-spacing: -0.04em;
    font-weight: 500;
}

.mobileStore h1 {
    width: 18.937rem;
    height: 5.125rem;
    font-size: 1.69rem;
}

.reklamaMobile {
    margin-left: 4.38rem;
}

.mobileStore p {
    width: 14.1rem;
    margin-bottom: 2.3rem;
}

.ls0-06 {
    letter-spacing: 0.06em;
}

div.store img {
    width: 7.21rem;
    height: 2.5rem;
}

div.store img:first-child {
    margin-right: 0.672rem;
}

.mobile {
    margin-left: 12rem;
}

.circle {

    border: 1.19px solid rgba(239, 236, 235, 1);
    padding: 1.75rem;
}

.one {
    width: 22.5rem;
    height: 22.5rem;

}

.two {
    width: 18.75rem;
    height: 18.75rem;

}

.three {
    width: 15.6rem;
    height: 15.6rem;
}

.oneB, .twoB {
    background: rgba(137, 128, 122, 1);

}

.threeB, .fourB {
    background: rgba(235, 217, 107, 1);

}

.oneB {
    width: 0.75rem;
    height: 0.75rem;
}

.twoB {
    width: 0.6rem;
    height: 0.6rem;
}

.threeB {
    width: 1.8rem;
    height: 1.8rem;
}

.fourB {
    width: 1.2rem;
    height: 1.2rem;
}

.phone {
    width: 11.562rem;
    height: 26.125rem;
    border: 12.78px solid rgba(194, 200, 218, 1);
    border-radius: 20px;
    margin-top: -410px;
    margin-left: 86px;
}

.sq {
    width: 7.92px;
    height: 7.92px;
    margin-top: 6.42px;
    margin-left: 6.42px;
}

h4 {

    font-size: 12.87px;
    font-weight: 700;
    margin-top: 10.89px;
    line-height: 15.58px;
    z-index: 1;

}

.search {
    width: 145px;
    height: 19.8px;
    border-radius: 8px;
    background: rgba(221, 221, 221, 0.4);
    color: rgba(110, 111, 114, 1);
    font-size: 8px;
    font-weight: 400;
    text-align: left;
    padding-left: 6px;
    padding-top: 4px;
}

.btns {
    margin-top: 11px;
    font-size: 6px;
    font-weight: 400;

}

.btns div {
    background: rgba(233, 230, 230, 1);
    border-radius: 7px;
    width: 35px;
    height: 15.85px;
    font-weight: 500;
    color: rgba(138, 138, 138, 1);
    font-size: 6px;
    text-align: center;
    padding-top: 4px;

}

.btns div:first-child {
    width: 67px;
    background: #EBD96B;
}

.phoneGirls div img {
    width: 66.62px;
    height: 96.61px;
}

.phoneGirls p {
    font-size: 7px;
}

.phoneGirls div p:last-child {
    margin-top: -14px;
}

.navmenu {
    width: 200px;
    height: 40px;
    margin-top: -17px;

    justify-content: space-around;
}

.navmenu img {
    width: 13px;
    height: 12px;
}

svg.up {
    margin-bottom: -387px;
}

svg.down {
    margin-top: -286px;
    z-index: -1;
}

svg.back-text {
    z-index: -1;
    left: 285px;
    top: 32px;
}

svg.back_text {
    z-index: -1;
    top: 8px;
    left: 69px;
}